.main{
    position: relative;
    overflow: hidden;
    height: 100vh;
}

.headings{
    content: '';
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 50rem;
    position: absolute;
    z-index: -1;
}

.header{
    top: -11.25rem;
    left: 0;
}

.footer {
    bottom: -6.25rem;
    left: 0;
}

.wrapper{
    position: relative;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    .content{
        display: flex; 
        align-items: center;
        justify-content: center;
        flex-direction: column;

        img{
            width: auto;
            height: 14.625rem;
        }

        h1{
            font-size: 4.0625rem;
            margin: unset;
            margin-top: 0.625rem;
            font-family: var(--font-gistesy);
            color: #446070;
            line-height: 6.6875rem;
            letter-spacing: 0.06em;
            font-weight: 400;
            text-shadow: 0.3125rem 0.375rem 0.25rem rgba(0, 0, 0, 0.25);
            text-align: center;
        }
        h4{
            font-family: var(--font-tan);
            font-weight: 400;
            font-size: 1.5rem;
            line-height: 2.875rem;            
            letter-spacing: 0.04em;
            margin-top: -0.625rem;
            color: #446070;
            text-align: center;
        }
    }
}