@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gistesy";
  src: local("Gistesy"),
   url("./assets/fonts/Gistesy/gistesy.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "TANAngelton";
  src: local("TANAngelton"),
   url("./assets/fonts/TAN/tan-angelton.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "OpenSauce";
  src: local("OpenSauce"),
   url("./assets/fonts/OpenSauce/opensauce-regular.ttf") format("truetype");
  font-weight: 400;
}

:root {
  --font-gistesy: "Gistesy", sans-serif;
  --font-tan: "TANAngelton", sans-serif;
}

html {
  @apply scroll-smooth;
}

body {
  @apply m-0 min-h-[100vh];
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #446070; 
}
